.container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .container footer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  