/* 
    General Styles
*/
/* 
    General Styles
*/

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  color: #000;
  font-family: "Press Start 2P", cursive;
}


.card-container {
  width: 24rem;
}

.btn-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn-more {
  float: left;
  left: -60px;
  position:relative;
  top: -10px;
  vertical-align: bottom;
}

.btn-fav {
  float: right;
  left: -40px;
  position:relative;
  top: -10px;
}